h1 {
  text-align: center;
  color: cornflowerblue;
}

nav {
  background-color: cornflowerblue;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}

body {
  background-color: lightblue;
  /* Photo by "https://unsplash.com/@covertnine?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
  Tim Toomey on "https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" Unsplash */
  background-image: url("/images/food-background.jpg");
  background-size: 100%;
  text-align: center;
  opacity: 0.9;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}

.add-margin {
  margin: 30px;
}

.add-padding {
  padding: 5px;
}